@model CarrinhoViewModel
<div class="container bg-white p-4 mt-4 rounded shadow">
    <div class="row checkoutForm">
        <div>
            <h4 class="text-center"><i class="bi bi-cart"></i> SEU CARRINHO DE COMPRAS <i class="bi bi-cart"></i> </h4>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>QUANTIDADE</th>
                    <th>ITEM</th>
                    <th class="text-right">PREÇO</th>
                    <th class="text-right">SUBTOTAL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Carrinho.CarrinhoItens)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Item.Nome</td>
                        <td class="text-right">@item.Item.Preco.ToString("c")</td>
                        <td class="text-right">
                            @((item.Quantidade * item.Item.Preco).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="Carrinho" asp-action="RemoverCarrinho" asp-route-itemId="@item.Item.ItemId">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right"><h5>TOTAL:</h5></td>
                    <td class="text-right">
                        @Model.CarrinhoTotal.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group d-flex justify-content-center">
                <a class="btn btn-danger rounded-pill" asp-controller="Pedido" asp-action="Checkout">ENCERRAR PEDIDO</a>

                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-danger rounded-pill" asp-controller="Item" asp-action="List">CONTINUAR COMPRANDO</a>
            </div>
        </div>
        <br />
    </div>
</div>